<style>
  .offcanvas {
    background-color: #000;
    color: #fff;
    width: 50%; /* Adjust to half of the screen */
  }

  .offcanvas .nav-link {
    color: #fff;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #444;
  }

  .offcanvas .nav-link:hover {
    background-color: #444;
    color: #fff;
  }

  .offcanvas-header {
    border-bottom: 1px solid #444;
  }

  .btn-search {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    background-color: #f8f9fa;
  }

  .navbar {
    z-index: 1030;
  }

  /* Fixed search bar on small screens */
  .navbar-nav.ms-auto.d-flex.d-md-none {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1031; /* Higher than the offcanvas menu */
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
  }

  .navbar-collapse {
    padding-top: 3.5rem; /* Space for fixed search bar */
  }

  @media (max-width: 767.98px) {
    .navbar-brand {
      font-size: 1.2rem; /* Adjust icon size */
      margin-right: 0.5rem; /* Space between icon and search input */
      margin-top: -0.25rem; /* Move icon up */
    }

    .navbar-toggler {
      z-index: 1032; /* Ensure the hamburger menu icon stays visible */
      margin-top: -0.25rem; /* Move hamburger menu up */
    }

    .navbar-nav.ms-auto.d-flex.d-md-none {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navbar-nav.ms-auto.d-flex.d-md-none form {
      flex-grow: 1;
      max-width: 60%; /* Reduce width to prevent overlap */
    }

    .search-input {
      width: calc(100% - 60px); /* Adjust width to prevent overlap with the button */
    }

    .btn-search {
      display: none; /* Hide search button on small screens */
    }

    .navbar-brand,
    .navbar-toggler {
      flex: 0 0 auto; /* Ensure the icons don't stretch */
      z-index: 1032;
    }
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass" style="margin-bottom: 0rem;"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Fixed search form for small screens -->
    <div class="navbar-nav ms-auto d-flex d-md-none w-100">
      <form class="d-flex w-100" role="search">
        <input class="form-control search-input" type="search" placeholder="Search destination" aria-label="Search" style="margin-top: 1rem;">
      </form>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings" style="margin-bottom: 4.3rem;">Explore</a>
      </div>
      <div class="navbar-nav ms-auto d-none d-md-flex">
        <form class="d-flex" role="search" style="margin-bottom: 4.2rem;">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destination" aria-label="Search">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto d-none d-md-flex">
        <a class="nav-link" href="/listings/new" style="margin-bottom: 4.2rem;"><i>Add Hotels</i></a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<!-- Offcanvas Sidebar for Small Screens -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="color: white;">
    <ul class="navbar-nav"  >
      <li class="nav-item">
        <a class="nav-link" href="/listings/new" ><i>Add Hotels</i></a>
      </li>
      <% if(!currUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/signup" style="color: white;" ><b>Sign up</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" style="color: white;"><b>Log in</b></a>
      </li>
      <% } %>
      <% if(currUser) { %>
      <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white;"><b>Log out</b></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
